<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-toast" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>ToastPlugin</name>
    <description>Show toast messages</description>
    <license>MIT</license>
    <keywords>cordova,plugin,toast</keywords>

    <js-module src="www/ToastPlugin.js" name="ToastPlugin">
        <clobbers target="ToastPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastPlugin">
                <param name="android-package" value="com.example.toast.ToastPlugin"/>
            </feature>
        </config-file>

        <source-file src="ToastPlugin.js" target-dir="src/com/example/toast"/>
        <source-file src="ToastPlugin.java" target-dir="src/com/example/toast"/>
    </platform>
</plugin>